
<!doctype html>
<html class="no-js h-100" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Management Panel</title>
    <meta name="description" content="Management Panel">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/assets/libs/fontawesome/all.css" rel="stylesheet">
    <link href="~/assets/libs/google-fonts/icon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

    <link href="~/assets/libs/waitMe/waitMe.min.css" rel="stylesheet" />
    <link href="~/assets/libs/toastr/toastr.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/assets/libs/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0" href="~/assets/styles/shards-dashboards.1.1.0.min.css">
    <link rel="stylesheet" href="~/assets/styles/extras.1.1.0.min.css">
    <link rel="stylesheet" href="~/css//general.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/vendors/css/tables/datatable/datatables.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/vendors/css/tables/datatable/extensions/dataTables.checkboxes.css">
    <link rel="stylesheet" type="text/css" href="~/assets/vendors/css/tables/datatable/responsive.bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/assets/vendors/css/pickers/pickadate/pickadate.css">
    @RenderSection("Styles", required: false)
</head>
<body class="h-100">

    <div class="container-fluid">
        <div class="row">
            
            <main class="main-content col-lg-12 col-md-12 col-sm-12 p-0  mt-5 ">
            
                <!-- / .main-navbar -->
                <div class="main-content-container container-fluid px-4">
                    <!-- Page Header -->
                 
                    <!-- End Page Header -->
                    <!-- Main Content -->
                    @RenderBody()
                    <!-- End Main Content -->
                </div>
                <footer class="main-footer d-flex p-2 px-3 bg-white border-top">
                    <ul class="nav">
                        
                    </ul>
                    <span class="copyright ml-auto my-auto mr-2">
                        Copyright © @DateTime.Today.Year
                        <a href="https://www.datatech-int.com/" target="_blank" rel="nofollow">DataTech</a>
                    </span>
                </footer>
            </main>
        </div>
    </div>
  
    <script src="~/assets/libs/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/assets/libs/popper/popper.min.js"></script>
    <script src="~/assets/libs/bootstrap/bootstrap.min.js"></script>
    <script src="~/assets/libs/buttons/buttons.js"></script>
    <script src="~/assets/libs/chartjs/Chart.min.js"></script>
    <script src="~/assets/libs/shards/shards.min.js"></script>
    <script src="~/assets/libs/jquery-sharrre/jquery.sharrre.min.js"></script>

    <script src="~/assets/libs/toastr/toastr.min.js"></script>
    <script src="~/assets/libs/waitMe/waitMe.min.js"></script>
    <script src="~/assets/libs/jsrender/jsrender.min.js"></script>

    <script src="~/assets/scripts/extras.1.1.0.min.js"></script>
    <script src="~/assets/scripts/shards-dashboards.1.1.0.min.js"></script>

    <script src="~/js/global/utils.js"></script>
    <script src="~/js/global/component.js"></script>
    <script src="~/js/global/general.js"></script>
    <script src="~/js/global/site.js"></script>
    <script src="~/assets/vendors/js/tables/datatable/datatables.min.js"></script>
    <script src="~/assets/vendors/js/tables/datatable/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/vendors/js/tables/datatable/datatables.checkboxes.min.js"></script>
    <script src="~/assets/vendors/js/tables/datatable/dataTables.responsive.min.js"></script>
    <script src="~/assets/vendors/js/tables/datatable/responsive.bootstrap.min.js"></script>
    <script src="/assets/vendors/js/pickers/pickadate/picker.js"></script>
    <script src="/assets/vendors/js/pickers/pickadate/picker.date.js"></script>
    @RenderSection("Scripts", required: false)
    <script id="tmp-alert-border" type="text/x-jsrender">
        <div class="alert border-{{:type}} alert-dismissible mb-2" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <div class="d-flex align-items-center">
                <i class="bx bx-error"></i>
                <span>
                    {{:message}}
                </span>
            </div>
        </div>
    </script>


    <script id="tmp-confirm-model" type="text/x-jsrender">
        <div class="modal fade text-left" id="success" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel110" aria-hidden="true">

            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-{{:type}}">
                        <h5 class="modal-title white" id="myModalLabel110">{{:title}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="bx bx-x"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{:message}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light-secondary btn-cancel" data-dismiss="modal">
                            <i class="bx bx-x d-block d-sm-none"></i>
                            <span class="d-none d-sm-block">{{:cancel}}</span>
                        </button>

                        <button type="button" class="btn btn-{{:type}} ml-1 btn-ok" data-dismiss="modal">
                            <i class="bx bx-check d-block d-sm-none"></i>
                            <span class="d-none d-sm-block">{{:ok}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script id="tmp-management-modal" type="text/x-jsrender">

        <div class="modal fade text-left" id="management-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
            <div class="modal-dialog {{if dialogClass}} {{:dialogClass}} {{else}} modal-lg {{/if}}modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel1">{{:title}}</h5>
                        <button type="button" class="modal-close close rounded-pill" data-dismiss="modal" aria-label="Kapat">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{:body}}
                    </div>
                    {{if buttons.length > 0}}
                    <div class="modal-footer">
                        {{for buttons}}
                        <button type="button" class="btn btn-{{:style}} {{:class}}" {{if disabled =="true"}} disabled {{/if}}
                                {{for attr}}
                                {{:name}}="{{:val}}"
                                {{/for}}
                                {{if close}}
                                data-dismiss="modal" {{/if}}>
                            {{if icon}}
                            <i class="fa fa-{{:icon}}"></i>
                            {{/if}}
                            {{:title}}

                        </button>
                        {{/for}}
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>

    </script>

</body>
</html>
